@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root{
    --linkActive: rgb(255, 0, 191);
    --linkHover: rgb(255, 108, 218);
}
*{
    font-family: 'Lato', sans-serif;  
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-size: 16px;
}

body{
    background-color: rgb(180, 178, 250);
}

header{
    background:  darkblue;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    font-size: 1rem;
    font-weight: bold;
}

.links a + a{
    color: white;
    margin-left: 32px;
}

.links a{
    color: white;
    position: relative;
}

.links a.active{
    font-weight: 900;
    color: var(--linkActive);
}

.links a:hover{
    color: var(--linkHover);
    transition: 200ms;
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background: var(--linkHover);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after{
    width: 100%;
    transition: width 300ms ease-in-out;
}
