*{
    margin: 0;
    padding: 0;
    border: 0;
}
/*O css acima serve para zerar todas as configurações 
automáticas do navegador que já vem com alguma pré-definições*/

body{
    background-color: #FF0000;
    font-family: 'Baloo Tamma 2', cursive;
}
/*A classe sobrepoe as tags e o id sobrepoe as classes e tags*/
header{
    background: rgb(173, 171, 171);
    padding: 20px;
    border: 1px solid yellow;
    text-align: center;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px
}

header a:hover{
    color: violet;
    transition: color 200ms;
}