{% extends "layout.njk" %}

{% block head %} 
    
    <title>Desafio LaunchBase - Aulas </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
{% endblock %}

{% block content %}
    <div>
        <h1 class="p-class">Aulas</h1>
    </div>
    <main class="aulas">

        <div class="cards">

            {% for item in items %}
            
            <div class="card" id="{{item.id}}">
                <div class="card-image {{ 'featured-container' if item.featured}}">
                    <img src="https://img.youtube.com/vi/{{item.id}}/sddefault.jpg" alt="Imagem de {{item.title}}">

                    {% if item.featured %}
                        <div class="featured">Featured</div>
                    {% endif %}
                </div>
                
                <div class="card-title">
                    <p>{{item.title}}</p>
                </div>
                <div class="card-info">
                    <p>{{item.duration}}</p>
                </div>
            </div>
            
            {% endfor %}

        </div>

    <script src="/script.js"></script>
   
{% endblock %}