{% extends "layout.njk" %}

{% block head %} 
    
    <title>Desafio LaunchBase - Aulas </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
{% endblock %}

{% block content %}
    <div>
        <h1 class="p-class">Aulas</h1>
    </div>
    <main class="aulas">

        <div class="cards">
            <div class="card" id="c7P03kkrEG8">
                <div class="card-image">
                    <img src="https://img.youtube.com/vi/c7P03kkrEG8/sddefault.jpg" alt="">
                </div>
                <div class="card-title">
                    <p>Configurando o VScode</p>
                </div>
                <div class="card-info">
                    <p>22 min</p>
                </div>
            </div>
            <div class="card" id="HN1UjzRSdBk">
                <div class="card-image">
                    <img src="https://img.youtube.com/vi/HN1UjzRSdBk/sddefault.jpg" alt="">
                </div>
                <div class="card-title">
                    <p>Desvendando o CSS GRID na prática</p>
                </div>
                <div class="card-info">
                    <p>36 min</p>
                </div>
            </div>
            <div class="card" id="GykTLqODQuU">
                <div class="card-image">
                    <img src="https://img.youtube.com/vi/GykTLqODQuU/sddefault.jpg" alt="">
                </div>
                <div class="card-title">
                    <p>Formulário animado com JS e CSS</p>
                </div>
                <div class="card-info">
                    <p>57 min</p>
                </div>
            </div>
        
        </div>

      
    
        <div class="opacity-modal">
            <div class="box-modal">
                <a class="close-modal">
                    <span class="material-icons">
                        cancel
                    </span>
                </a>
                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    
        <script src="script.js"></script>
   
{% endblock %}