<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    

    {% block head %} 
        <title>Desafio LaunchBase</title>
    {% endblock %}

    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

</head>
<body>

    <header>
        <!--"/" vai linkar para o index.html-->
        <div class="links" id="links-header">      
            <a href="/">Sobre</a>
        <a href="/aulas">Aulas</a>
        <a href="mailto:roberta_rfa@hotmail.com">E-mail</a>
        <a href="tel:+5511955554444">Telefone</a>
        </div>
    </header>

    <!--nesse block posso colocar qualquer nome, não precisar ser content-->
   {% block content %}   {% endblock %}
    
   <footer>
        <div class="links" id="links-footer">
            <a href="https://www.linkedin.com/in/robertarfa/" target="blank">Linkedin</a>
            <a href="https://github.com/robertarfa" target="blank">GitHub</a>
            <a href="https://sourcerer.io/robertarfa" target="blank">Sourcerer</a>
            <a href="https://twitter.com/roberta_rfa" target="blank">Twiter</a>
        </div>
    </footer>

</body>
</html>