{% extends "layout.njk" %}

{% block head %} 
    
    <title>Desafio LaunchBase - {{ item.title }} </title>
    
{% endblock %}

{% block content %}
    
    <div>
        <h1 class="p-class">{{ item.title }}</h1>
    </div>


        <div class="video">
            <div class="card" id="{{ item.id }}">
                <div class="card-video">
                    
                    <iframe src="https://www.youtube.com.br/embed/{{ item.id }}" frameborder="0"></iframe>
                    
                </div>

                <div class="card-title">
                    <p>{{item.title}}</p>
                </div>
                <div class="card-info">
                    <p>{{item.duration}}</p>
                </div>
            </div>
            
            
   
{% endblock %}